@use "./variables" as *;
@use "./mixins" as *;

%background-image {
  background-image: url("/img/nordwood-themes-KcsKWw77Ovw-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.credit-card-box {
  margin: 50rem auto;

  @include displayFlex(column);

  max-width: 130rem;
  padding: 3.2rem 4.8rem;

  @extend %background-image;

  border-radius: 70px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.177);

  transform: scale(0.9);

  /* Top */
  .credit-card-top {
    margin-bottom: 8rem;

    @include displayFlex(row, space-between);

    .debit {
      font-size: 3.5rem;
      color: $debit-color;
      letter-spacing: 4px;

      align-self: flex-end;
      margin-right: 7rem;
    }

    .credit-card-logo {
      width: 45rem;
    }
  }

  /* Center */
  .credit-card-center {
    padding: 0 4.8rem;
    @include displayFlex(column);
    gap: 3rem;

    .chip-box {
      @include displayFlex();
      gap: 4rem;
    }
    .chip-logo {
      width: 18rem;
      height: 15rem;
    }

    .payment-logo {
      color: $payment-valid-color;
      height: 11rem;
      width: 11rem;
      align-self: center;

      transform: rotate(90deg);
    }
  }

  .credit-card-description {
    @include displayFlex(column);

    .credit-card-number {
      font-size: 7rem;
      font-family: "Dosis";
      font-weight: 500;
      letter-spacing: 43px;

      margin-bottom: 5rem;
      align-self: center;
    }
  }

  .valid-box {
    @include displayFlex();
    gap: 7rem;
    align-self: center;
    margin-bottom: 1rem;

    .valid {
      width: 2rem;
      font-size: 2rem;
      color: $payment-valid-color;
      text-transform: uppercase;
      align-self: center;
      font-weight: 900;
    }
    .credit-card-date {
      font-size: 6rem;
      font-weight: 500;
    }
  }

  .credit-card-bottom {
    @include displayFlex(row, space-between);
    .credit-card-owner {
      font-size: 4rem;
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 15px;
      margin-left: 7rem;
    }

    .logo-visa {
      width: 25rem;
      height: 17rem;
    }
  }
}
